@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #25272E;
}

header {
    background-color: white;
    padding: 20px;

}


header>h1 {
    color: #25272E;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board {
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge {
    background-color: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -28px;

}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;

}

.result {
    font-size: 40px;
    color: beige;
}

.result>p {
    font-family: Asap, sans-serif;
    text-align: center;
    font-weight: bold;
}


.choices {
    text-align: center;
    margin-top: 50px;
    background-color: #25272E;

}

img {
    width: 200px;
    transition: all 0.3s ease;
    border-radius: 50%;
}

img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.choice {
    display: inline-block;
    border-radius: 50%;
    background-color: #25272E;
    margin: 0px 20px;
}

#action-message {
    font-family: Asap, sans-serif;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.green-glow {
    border: 5px solid #4dcc7d;
    box-shadow: 0 0 20px #31b43a;
    border-radius: 50%;
}

.green-glow img {
    animation: zoom 0.3s ease-in-out;
}

.red-glow {
    border: 5px solid #fc121b;
    box-shadow: 0 0 20px #d01115;
    border-radius: 50%;

}

.red-glow img {
    animation: zoom 0.3s ease-in-out;
}

.blue-glow {
    border: 5px solid #54a1f4;
    box-shadow: 0 0 20px #2963d7;
    border-radius: 50%;
}

.blue-glow img {
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}